.flashcards-container-all{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.single-card{
    border: 1px lightgrey solid;
    border-radius: 10px;
    background-color: #B3E5FC;
    padding: 10px;
}
