.the-big-box-in-backpack {
    margin: auto;
    max-width: 500px;
}

.study-mats-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
}

.mat-containers-backpack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-box-mats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-test-backpack {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #B3E5FC;
    padding: 10px;
    cursor: pointer;
}

.each-test-backpack:hover {
    transform: scale(1.01);
}

.each-set-backpack {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #B3E5FC;
    padding: 10px;
    cursor: pointer;
}

.each-set-backpack:hover {
    transform: scale(1.01);
}

.the-button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.the-button-box > *{
    width: 49%;
}

@media (min-width: 1000px) {
    .the-big-box-in-backpack {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mat-containers-backpack {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .total-box-mats {
        width: 49%;
    }
}
