.sign-up-modal-div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up-h1{
    margin: 0;
    width: fit-content;
    margin-bottom: 10px;
}

.sign-up-form-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
