.edit-set-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-set-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-one-card{
    border: 1px black solid;
    border-radius: 10px;
    background-color: #B3E5FC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
