/* TODO: Add sitewide styles */
/* :root {
    --dark-blue: #0D47A1;
    --light-blue: #81D4FA;
    --medium-blue: #2196F3;
    --lightest: #E3F2FD;
    -- after lightest: #B3E5FC;
} */

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 300 to 700 */

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background-color: #E3F2FD;
    margin: 0px;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #B3E5FC;
    /* color: white; */
}
button:hover {
    background-color: #5eb4fa;
    transition: background-color 0.5s;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: #E3F2FD; */
    /* color: white; */
}
/* input::placeholder {
    color: white;
} */
.main-container {
    flex: 1;
}
