.nav-bar-all {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.backpack-logo {
  font-size: 3rem;
  cursor: pointer;
}

.right-side-nav-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
  background-color: #B3E5FC;
  border-radius: 30px;
}
.profile-dropdown {
  position: absolute;
  top: 50px;
  z-index: 1;
  right: 18px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #B3E5FC;
  list-style-type: none;
  padding: 10px;
}

.navbar-navlink {
  text-decoration: none;
  color:rgb(105, 105, 228)
}

.profile-dropdown > :hover{
  /* text-shadow: grey; */
}
